@font-face {
  font-family: DMSerif-r;
  src: url(../asset/font/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: Jost-regular;
  src: url(../asset/font/Jost/static/Jost-Regular.ttf);
}
@font-face {
  font-family: Jost-med;
  src: url(../asset/font/Jost/static/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-SemiBold;
  src: url(../asset/font/Jost/static/Jost-SemiBold.ttf);
}
@font-face {
  font-family: Jost-Bold;
  src: url(../asset/font/Jost/static/Jost-Bold.ttf);
}
#Contact-container #Contact button, #aboutUS-container #aboutUS #aboutUS-content button, #banner #main-banner #banner-content button {
  font-family: Jost-SemiBold;
  letter-spacing: 1px;
  border: none;
  border-radius: 18px;
  padding: 22px 49px;
  background-color: #292F36;
  color: #ffffff;
  font-size: 18px;
  font-style: bold;
  line-height: 125%;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.3490196078);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
  position: relative;
}
#Contact-container #Contact button span:nth-child(2), #aboutUS-container #aboutUS #aboutUS-content button span:nth-child(2), #banner #main-banner #banner-content button span:nth-child(2) {
  transition: inherit;
  color: #CDA274;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Contact-container #Contact button span:nth-child(2) iconify-icon, #aboutUS-container #aboutUS #aboutUS-content button span:nth-child(2) iconify-icon, #banner #main-banner #banner-content button span:nth-child(2) iconify-icon {
  transition: inherit;
}

#aboutUS-container #aboutUS #aboutUS-content button:hover, #banner #main-banner #banner-content button:hover {
  background-color: #CDA274;
  color: white;
}
#aboutUS-container #aboutUS #aboutUS-content button:hover span iconify-icon, #banner #main-banner #banner-content button:hover span iconify-icon {
  transform: translateX(10px);
  color: #292F36;
}

#Contact-container #Contact button:hover {
  background-color: white;
  color: #292F36;
}
#Contact-container #Contact button:hover span iconify-icon {
  transform: translateX(10px);
  color: #CDA274;
}

#Counter-container #Counter .Counter-item .Counter-content {
  font-family: DMSerif-r;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 2%;
}

#Contact-container #Contact #Contact-content #Contact-title, #Blog-container #Blog #Blog-inner #Blog-header .Blog-header-name, #project-container #project #project-inner #project-header #project-header-name, #Testimonial-container #Testimonial #Testimonial-title, #aboutUS-container #aboutUS #aboutUS-content #content-title {
  font-family: DMSerif-r;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 2%;
}

footer #footer .footer-content .content-title, #Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-title, #project-container #project #project-inner #project-content .project-card .project-card-info .project-card-header .project-card-name {
  font-family: DMSerif-r;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 2%;
}

#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-info .Testimonial-name {
  font-family: DMSerif-r;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 2%;
}

footer #copyright, footer #footer .footer-content .content-link-list .content-link, footer #footer .footer-content #footer-slogan, #Contact-container #Contact #Contact-content #Contact-des, #Blog-container #Blog #Blog-inner #Blog-header .Blog-header-description, #Counter-container #Counter .Counter-item .Counter-title, #project-container #project #project-inner #project-content .project-card .project-card-info .project-card-header .project-card-type, #project-container #project #project-inner #project-header #project-header-description, #Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-Content, #Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-info .Testimonial-address, #aboutUS-container #aboutUS #aboutUS-content #content-des {
  font-family: Jost-regular;
  font-size: 22px;
  line-height: 150%;
}

#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-footer .Blog-card-content, #Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-img .Blog-badge {
  font-family: Jost-regular;
  font-size: 16px;
  line-height: 150%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4F0EC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CDA274;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292F36;
}

@keyframes slipToRight-100 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slipToLeft-100 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slipToBottom-100 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slipToLeft-200 {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slipToTop-200 {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slidebar-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  background-color: transparent !important;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  display: none;
}
#slidebar-container #slidebar-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#slidebar-container #slide-bar {
  width: 370px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1010;
  top: 0;
  right: -370px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
#slidebar-container #slide-bar #slidebar-nav {
  width: 90%;
  height: 94%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-title {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-title img {
  width: 150px;
  height: auto;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-title #close-button {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-title #close-button iconify-icon {
  cursor: pointer;
  transition: color 0.3s;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-title #close-button iconify-icon:hover {
  color: #CDA274;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-line {
  width: 100%;
  height: 1px;
  background-color: #4D5053;
  margin-bottom: 10px;
  opacity: 0.5;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5 ease-out;
  padding: 12px 18px;
  border-radius: 10px;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item a {
  text-decoration: none;
  color: #292F36;
  font-size: 20px;
  font-family: Jost-regular;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item iconify-icon {
  color: #292F36;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item.active {
  background-color: #CDA274;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item.active a {
  color: #F4F0EC;
  font-family: Jost-med;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item.active iconify-icon {
  color: #F4F0EC;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item:hover {
  background-color: #F4F0EC;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item:hover a {
  color: #292F36;
}
#slidebar-container #slide-bar #slidebar-nav .slidebar-item:hover iconify-icon {
  color: #292F36;
}

header {
  width: 100%;
  height: 138px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: white;
  transition: height 200ms;
}
header #navbar-container {
  width: 1200px;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
header #navbar-container #max-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}
header #navbar-container #max-nav .nav-link {
  text-decoration: none;
  color: #292F36;
  font-size: 20px;
  font-family: Jost-regular;
  transition: all 0.5s;
}
header #navbar-container #max-nav a:last-child {
  position: relative;
  top: 3px;
}
header #navbar-container #max-nav .nav-link.active {
  font-family: Jost-med;
}
header #navbar-container #max-nav .nav-link:hover {
  text-decoration: underline #CDA274 4px;
}
header #navbar-container #min-nav {
  display: none;
}
header #navbar-container #min-nav a iconify-icon {
  color: #292F36;
}

#banner {
  width: 100%;
  height: 1042px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../asset/image/image_optimized.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom-left-radius: 291px;
}
#banner #main-banner {
  width: 1200px;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#banner #main-banner #banner-content {
  font-family: DMSerif-r;
  max-width: 434px;
}
#banner #main-banner #banner-content div {
  font-family: inherit;
  color: #292F36;
  font-size: 65px;
  line-height: 125%;
  margin-bottom: 9px;
}
#banner #main-banner #banner-content p {
  font-family: Jost-regular;
  color: #292F36;
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 21px;
}
#banner #main-banner #banner-content button {
  cursor: pointer;
}
#work {
  width: 100%;
  height: 764px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work #work-container {
  width: 1200px;
  height: 225px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 52px;
  justify-content: center;
  align-items: stretch;
}
#work #work-container div {
  text-align: center;
  flex-grow: 1;
}
#work #work-container div.work-name {
  font-family: DMSerif-r;
  font-size: 25px;
  margin-bottom: 20px;
}
#work #work-container div.work-des {
  font-family: Jost-regular;
  line-height: 150%;
  font-size: 22px;
  margin-bottom: 48px;
}
#work #work-container div.work-read-more {
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-family: Jost-SemiBold;
  font-size: 18px;
}
#work #work-container div.work-read-more span:nth-child(2) {
  color: #CDA274;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: inherit;
}
#work #work-container div.work-read-more span:nth-child(2) iconify-icon {
  transition: inherit;
}
#work #work-container div.work-read-more:hover {
  color: #CDA274;
}
#work #work-container div.work-read-more:hover span:nth-child(2) iconify-icon {
  transform: translateX(15px);
  color: #292F36;
}

#aboutUS-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
#aboutUS-container #aboutUS {
  width: 1200px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 75px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutUS-container #aboutUS #aboutUS-content {
  width: 472px;
  height: 614px;
  background-color: transparent;
}
#aboutUS-container #aboutUS #aboutUS-content #content-title {
  margin-bottom: 33px;
  max-width: 420px;
}
#aboutUS-container #aboutUS #aboutUS-content #content-des {
  margin-bottom: 45px;
}
#aboutUS-container #aboutUS #aboutUS-content #content-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 47px;
}
#aboutUS-container #aboutUS #aboutUS-content #content-info #info-icon {
  width: 93px;
  height: 93px;
  background-color: #F4F0EC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CDA274;
}
#aboutUS-container #aboutUS #aboutUS-content #content-info #info-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
#aboutUS-container #aboutUS #aboutUS-content #content-info #info-detail #info-title {
  font-size: 24px;
  font-family: Jost-Bold;
}
#aboutUS-container #aboutUS #aboutUS-content #content-info #info-detail #info-message {
  font-family: Jost-regular;
  font-size: 22px;
}
#aboutUS-container #aboutUS #aboutUS-image {
  width: 653px;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  border-top-right-radius: 326px;
  border-bottom-left-radius: 123px;
}
#aboutUS-container #aboutUS #aboutUS-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

#Testimonial-container {
  width: 100%;
  height: 679px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}
#Testimonial-container #Testimonial {
  width: 1200px;
  height: 100%;
  background-color: #F4F0EC;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 38px;
  justify-content: center;
  align-items: center;
  padding: 88px 20px;
  border-radius: 70px;
}
#Testimonial-container #Testimonial #Testimonial-title {
  max-width: 547px;
  text-align: center;
}
#Testimonial-container #Testimonial #Testimonial-card-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, auto);
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card {
  width: 100%;
  grid-column: span 1;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 37px;
  border-radius: 25px;
  background-color: white;
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 23px;
  justify-content: center;
  align-items: center;
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-avatar {
  background-color: aqua;
  width: 77px;
  height: 77px;
  background-color: transparent;
  border-radius: 50%;
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  align-items: flex-start;
}
#Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card .Testimonial-header .Testimonial-info .Testimonial-address {
  color: #4D5053;
}
#Client-Logo-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}
#Client-Logo-container #Client-Logo {
  padding: 0px 55px;
  width: 1200px;
  height: 100%;
  background-color: transparent;
}
#Client-Logo-container #Client-Logo #Client-Logo-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 108px;
  justify-content: space-between;
  align-items: center;
}
#Client-Logo-container #Client-Logo #Client-Logo-inner img {
  width: auto;
  height: auto;
  flex-shrink: 2;
}

#project-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#project-container #project {
  width: 1200px;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
#project-container #project #project-inner {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 93px;
  justify-content: center;
  align-items: center;
}
#project-container #project #project-inner #project-header {
  max-width: 737px;
}
#project-container #project #project-inner #project-header #project-header-name {
  text-align: center;
  margin-bottom: 10px;
}
#project-container #project #project-inner #project-header #project-header-description {
  text-align: center;
}
#project-container #project #project-inner #project-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  height: auto;
  background-color: transparent;
  column-gap: 104px;
  row-gap: 56px;
}
#project-container #project #project-inner #project-content .project-card {
  width: 100%;
  grid-column: span 1;
}
#project-container #project #project-inner #project-content .project-card .project-card-image {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  overflow: hidden;
  margin-bottom: 24px;
}
#project-container #project #project-inner #project-content .project-card .project-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
#project-container #project #project-inner #project-content .project-card .project-card-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
}
#project-container #project #project-inner #project-content .project-card .project-card-info .project-card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  align-items: flex-start;
}
#project-container #project #project-inner #project-content .project-card .project-card-info .project-card-header .project-card-type {
  color: #4D5053;
}
#project-container #project #project-inner #project-content .project-card .project-card-info .project-card-seemore {
  transition: 0.3s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #F4F0EC;
  border-radius: 50%;
  cursor: pointer;
}
#project-container #project #project-inner #project-content .project-card .project-card-info .project-card-seemore:hover {
  box-shadow: 0px 0px 15px 5px rgba(205, 162, 116, 0.5);
}
#project-container #project #project-inner #project-content .project-card:nth-child(1) .project-card-image {
  border-top-right-radius: 80px;
}
#project-container #project #project-inner #project-content .project-card:nth-child(2) .project-card-image {
  border-top-left-radius: 80px;
}
#project-container #project #project-inner #project-content .project-card:nth-child(3) .project-card-image {
  border-bottom-right-radius: 80px;
}
#project-container #project #project-inner #project-content .project-card:nth-child(4) .project-card-image {
  border-bottom-left-radius: 80px;
}

#Counter-container {
  width: 100%;
  height: 457px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F0EC;
  margin-bottom: 200px;
}
#Counter-container #Counter {
  width: 1200px;
  height: 155px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 59px;
}
#Counter-container #Counter .Counter-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
#Counter-container #Counter .Counter-item .Counter-content {
  color: #CDA274;
}
#Counter-container #Counter .Counter-item .Counter-title {
  text-align: center;
}
#Counter-container #Counter .Counter-line {
  width: 0.5px;
  height: 135px;
  background-color: #CDA274;
}

#Blog-container {
  width: 100%;
  height: 737px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
#Blog-container #Blog {
  width: 1200px;
  height: 100%;
  background-color: transparent;
}
#Blog-container #Blog #Blog-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 52px;
  justify-content: center;
  align-items: center;
}
#Blog-container #Blog #Blog-inner #Blog-header {
  max-width: 811px;
}
#Blog-container #Blog #Blog-inner #Blog-header .Blog-header-name {
  text-align: center;
  margin-bottom: 10px;
}
#Blog-container #Blog #Blog-inner #Blog-header .Blog-header-description {
  text-align: center;
}
#Blog-container #Blog #Blog-inner #Blog-list > div:nth-child(2):hover {
  box-shadow: 0px 0px 15px 5px rgba(205, 162, 116, 0.5);
}
#Blog-container #Blog #Blog-inner #Blog-list > div:nth-child(2) {
  width: 100%;
  height: 100%;
  background-color: #F4F0EC;
}
#Blog-container #Blog #Blog-inner #Blog-list > div:nth-child(2) .Blog-card-container .Blog-card-footer .Blog-card-icon {
  width: 52px;
  height: 52px;
  background-color: white;
}
#Blog-container #Blog #Blog-inner #Blog-list {
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: 521px;
  background-color: transparent;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card:hover {
  box-shadow: 0px 0px 15px 10px #F4F0EC;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card {
  cursor: pointer;
  width: 100%;
  grid-column: span 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 0.3s ease-in;
  padding: 21px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 21px;
  justify-content: center;
  align-items: flex-start;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-img {
  position: relative;
  max-width: 340px;
  max-height: 289px;
  background-color: transparent;
  overflow: hidden;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-img .Blog-badge {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 129px;
  height: 41px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-title {
  max-width: 260px;
  margin-bottom: 5px;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}
#Blog-container #Blog #Blog-inner #Blog-list .Blog-card .Blog-card-container .Blog-card-footer .Blog-card-icon {
  width: 52px;
  height: 52px;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#Contact-container {
  width: 100%;
  height: 374px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
#Contact-container #Contact {
  width: 1200px;
  height: 100%;
  background-color: #292F36;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#Contact-container #Contact #Contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
#Contact-container #Contact #Contact-content #Contact-title {
  color: #ffffff;
  text-align: center;
}
#Contact-container #Contact #Contact-content #Contact-des {
  color: #ffffff;
  text-align: center;
}
#Contact-container #Contact button {
  background-color: #CDA274;
  color: white;
  box-shadow: 0px 10px 20px 0px #1f2022;
}
#Contact-container #Contact button span iconify-icon {
  color: #292F36;
}
footer {
  width: 100%;
  height: 577px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 134px;
  justify-content: space-between;
  align-items: center;
}
footer #footer {
  width: 1200px;
  height: 100%;
  background-color: transparent;
  display: grid;
  gap: 101px;
  grid-template-columns: 393px 125px 120px 258px;
}
footer #footer .footer-content {
  width: 100%;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: flex-start;
  align-items: flex-start;
}
footer #footer .footer-content #footer-slogan {
  color: #4D5053;
  word-break: keep-all !important;
}
footer #footer .footer-content #footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 54px;
  justify-content: flex-start;
  align-items: center;
}
footer #footer .footer-content .content-link-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 41px;
  justify-content: flex-start;
  align-items: flex-start;
}
footer #footer .footer-content .content-link-list .content-link {
  letter-spacing: 1%;
  color: #4D5053;
}
footer #copyright {
  width: 1200px;
  height: 100%;
  background-color: transparent;
  color: #4D5053;
  text-align: center;
}

@media screen and (max-width: 1200px) and (min-width: 0px) {
  header {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  header #navbar-container {
    width: 90% !important;
    height: 50px;
    background-color: transparent;
  }
  #main-banner {
    width: 90% !important;
    height: auto;
    background-color: transparent;
  }
  #main-banner #banner-content {
    font-family: DMSerif-r;
  }
  #work {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #work #work-container {
    padding: 200px 0 !important;
    width: 90% !important;
    height: auto !important;
    background-color: transparent;
  }
  #aboutUS {
    width: 90% !important;
    height: auto;
    background-color: transparent;
  }
  #aboutUS #aboutUS-content {
    width: 472px;
    height: auto !important;
    background-color: transparent;
  }
  #Testimonial-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Testimonial-container #Testimonial {
    width: 90% !important;
    height: 100%;
    background-color: #F4F0EC;
  }
  #project-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #project-container #project {
    width: 90% !important;
    height: auto;
    background-color: transparent;
  }
  #Counter-container #Counter {
    width: 90% !important;
    height: auto;
    background-color: transparent;
    padding: 0px !important;
  }
  #Blog-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
  #Blog-container #Blog {
    width: 90% !important;
    height: 100%;
    background-color: transparent;
  }
  #Blog-container #Blog #Blog-inner #Blog-list {
    width: 100%;
    height: auto !important;
    background-color: transparent;
  }
  #Contact-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Contact-container #Contact {
    padding: 80px 10px;
    width: 90% !important;
    height: 100%;
    background-color: #292F36;
  }
  footer {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px !important;
    justify-content: space-between;
    align-items: center;
  }
  footer #footer,
  footer #copyright {
    width: 90% !important;
    height: 100%;
    background-color: transparent;
  }
}
@media screen and (max-width: 992px) and (min-width: 0px) {
  #max-nav {
    display: none !important;
  }
  #min-nav {
    display: flex !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
  }
  #banner {
    height: calc(100vh - 90px) !important;
  }
}
@media screen and (max-width: 1200px) {
  #Client-Logo-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    gap: 80px !important;
    justify-content: center !important;
    align-items: center;
  }
  #footer {
    display: grid;
    gap: 60px !important;
    grid-template-columns: repeat(11, auto) !important;
  }
  #footer div:nth-child(1) {
    width: 100%;
    grid-column: span 4;
  }
  #footer div:nth-child(2) {
    width: 100%;
    grid-column: span 2;
  }
  #footer div:nth-child(3) {
    width: 100%;
    grid-column: span 2;
  }
  #footer div:nth-child(4) {
    width: 100%;
    grid-column: span 3;
  }
}
@media screen and (max-width: 992px) {
  #aboutUS-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #aboutUS-container #aboutUS {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    gap: 55px !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }
  #aboutUS-container #aboutUS #aboutUS-image {
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
  }
  #aboutUS-container #aboutUS #aboutUS-content {
    width: 100% !important;
    height: auto !important;
    background-color: transparent;
  }
  #Testimonial-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Testimonial-container #Testimonial #Testimonial-card-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
  }
  #Testimonial-container #Testimonial #Testimonial-card-list .Testimonial-card {
    width: 100%;
    grid-column: span 3;
  }
  #work-container {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    gap: 52px;
    justify-content: center;
    align-items: center !important;
  }
  #work-container div.work-des {
    margin-bottom: 20px !important;
  }
  #project-content {
    column-gap: 50px !important;
    row-gap: 50px !important;
  }
  #Counter-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Counter-container #Counter {
    width: 90% !important;
    height: auto;
    background-color: transparent;
    padding: 151px 0px !important;
    display: grid !important;
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(5, auto) !important;
  }
  #Counter-container #Counter .Counter-item {
    width: auto;
    grid-column: span 2;
  }
  #Counter-container #Counter .Counter-line {
    width: 0.5px;
    grid-column: span 1;
  }
  #Counter-container #Counter div:nth-child(4) {
    display: none !important;
  }
  #Blog-list {
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(1, auto) !important;
    width: 100%;
    height: auto !important;
    background-color: transparent;
  }
  #Blog-list .Blog-card .Blog-card-container .Blog-card-title {
    max-width: initial !important;
    margin-bottom: 0% !important;
  }
  #Blog-list .Blog-card .Blog-card-container .Blog-card-img {
    max-width: none !important;
    max-height: none !important;
    background-color: transparent;
    overflow: hidden;
    width: 100% !important;
    height: 400px !important;
  }
  #Blog-list .Blog-card .Blog-card-container .Blog-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50% !important;
  }
  #footer {
    display: grid;
    gap: 60px !important;
    grid-template-columns: repeat(12, auto) !important;
  }
  #footer div:nth-child(1) {
    width: 100%;
    grid-column: span 12;
  }
  #footer div:nth-child(2) {
    width: 100%;
    grid-column: span 3;
  }
  #footer div:nth-child(3) {
    width: 100%;
    grid-column: span 3;
  }
  #footer div:nth-child(4) {
    width: 100%;
    grid-column: span 6;
  }
}
@media screen and (max-width: 768px) {
  #project-content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(4, auto);
  }
  #footer {
    display: grid !important;
    display: grid;
    gap: 100px !important;
    grid-template-columns: repeat(3, auto) !important;
  }
  #footer div:nth-child(1) {
    width: 100%;
    grid-column: span 3;
  }
  #footer div:nth-child(2) {
    width: 100%;
    grid-column: span 1;
  }
  #footer div:nth-child(3) {
    width: 100%;
    grid-column: span 1;
  }
  #footer div:nth-child(4) {
    width: 100%;
    grid-column: span 3;
  }
  .content-link-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  #slide-bar {
    width: 100% !important;
    height: 100vh;
    background-color: white;
  }
  #banner {
    width: 100%;
    height: 1042px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../asset/image/Image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom-left-radius: 150px !important;
  }
  #project-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 35px !important;
    justify-content: center;
    align-items: center;
  }
  .project-card-image {
    height: 500px !important;
  }
  #aboutUS-image {
    width: 90% !important;
    height: 550px !important;
    background-color: transparent;
    border-top-right-radius: 160px !important;
    border-bottom-left-radius: 60px !important;
  }
  #Counter-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Counter-container #Counter {
    display: flex !important;
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    gap: 40px !important;
    justify-content: center !important;
    align-items: center;
    padding: 151px 0px !important;
  }
  #Counter-container #Counter .Counter-line {
    width: 135px;
    height: 0.5px;
    background-color: #CDA274;
  }
  #Counter-container #Counter div:nth-child(4) {
    display: block !important;
  }
  #footer {
    display: grid;
    gap: 60px !important;
    grid-template-columns: repeat(2, auto) !important;
  }
  #footer div:nth-child(1) {
    width: 100%;
    grid-column: span 2;
  }
  #footer div:nth-child(2) {
    width: 100%;
    grid-column: span 1;
  }
  #footer div:nth-child(3) {
    width: 100%;
    grid-column: span 1;
  }
  #footer div:nth-child(4) {
    width: 100%;
    grid-column: span 2;
  }
  .content-link-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
#banner-content {
  transition: all 0.5s;
}
#banner-content button, #banner-content p, #banner-content div {
  animation: slipToLeft-200 0.8s ease-out forwards;
  transform: translateX(200px);
  opacity: 0;
}
#banner-content p {
  animation-delay: 0.2s;
}
#banner-content button {
  animation-delay: 0.4s;
}

#work-container {
  animation: slipToTop-200 0.5s ease-out forwards paused;
}

#aboutUS-content {
  animation: slipToRight-100 0.5s ease-out forwards paused;
}

#aboutUS-image {
  animation: slipToLeft-100 0.5s ease-out forwards paused;
}

#Testimonial {
  animation: slipToTop-200 0.5s ease-out forwards paused;
}

#project-header {
  animation: slipToBottom-100 0.5s ease-out both paused;
}

#project-content {
  animation: slipToTop-200 0.5s ease-out both paused;
}

#Blog-header {
  animation: slipToBottom-100 0.5s ease-out both paused;
  animation-delay: 0.2s;
}

#Blog-list > .Blog-card:nth-child(2n) {
  animation: slipToTop-200 0.5s ease-out both paused;
  animation-delay: 0.4s;
}

#Blog-list > .Blog-card:nth-child(2n+1) {
  animation: slipToTop-200 0.5s ease-out both paused;
  animation-delay: 0.7s;
}

/*# sourceMappingURL=style.css.map */
