@import "variable.scss";

@keyframes slipToRight-100 {
    0% { transform: translateX(-100px); opacity: 0}
    100% { transform: translateX(0); opacity: 1 }
}
@keyframes slipToLeft-100 {
    0% { transform: translateX(100px); opacity: 0}
    100% { transform: translateX(0); opacity: 1 }
}
@keyframes slipToBottom-100 {
    0% { transform: translateY(-100px); opacity: 0}
    100% { transform: translateY(0); opacity: 1 }
}
@keyframes slipToLeft-200 {
    0% { transform: translateX(200px); opacity: 0}
    100% { transform: translateX(0); opacity: 1 }
}
@keyframes slipToTop-200 {
    0% { transform: translateY(200px); opacity: 0}
    100% { transform: translateY(0); opacity: 1 }
}
@keyframes slipToTop-100 {
    0% { transform: translateY(100px); opacity: 0}
    100% { transform: translateY(0); opacity: 1 }
}
@keyframes white-to-yellow {
    0% { background-color: white}
    100% { background-color: $primary-color-light}
}