$primary-color-dark: #292F36;
$primary-color-med: #CDA274;
$primary-color-light: #F4F0EC;
$neutral-color-gray: #4D5053;
$neutral-color-lightgray: #E7E7E7;
$neutral-color-white: #ffffff;
$neutral-color-black: #000000;
//-----------------------------------------
$normal-width: 1200px;
$width: 90% !important;
